*{
    margin:0;
    padding:0;
    overflow: hidden;
    font-size: 16px;
}
section{
    position: relative;
    justify-content: center; /* biar center*/
    background-color: #111111;
    display: flex;  
    align-items: center; /*align items buat y*/
    width:100%;
    height:100vh;
}
section img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    
}
h1{
    font-size:10rem;
    color: white;
    position: relative ;
}
